/* Global styles for body and input */
body, input {
  color: #123; /* Text color */
  font-family: "Gill Sans", sans-serif; /* Font family for body and inputs */
}

/* Styling for div elements */
div {
  overflow: hidden; /* Hides overflowing content */
  padding: 1em 0; /* Padding above and below the content */
  position: relative; /* Positioning context for child elements */
  text-align: center; /* Center-aligns text */
}

/* Styling for headings (h1, h2), paragraphs (p), inputs, and links (a) */
h1, h2, p, input, a {
  font-weight: 300; /* Font weight (light) for these elements */
  margin: 0; /* Removes default margins */
}

/* Styling for main heading (h1) */
h1 {
  color: #BDB76B; /* Heading color */
  font-size: 3.5em; /* Heading font size */
}

/* Styling for secondary headings (h2) */
h2 {
  color: #999; /* Secondary heading color */
}

/* Styling for forms */
form {
  margin: 0 auto; /* Centers the form horizontally */
  max-width: 50em; /* Maximum width for the form */
  text-align: center; /* Center-aligns form elements */
}

/* Styling for input fields */
input {
  border: 0; /* Removes border */
  border-radius: 1000px; /* Rounded border radius */
  box-shadow: inset 0 0 0 2px #BDB76B; /* Inner shadow effect */
  display: inline; /* Displays inputs inline */
  font-size: 1.5em; /* Font size */
  margin-bottom: 1em; /* Bottom margin */
  outline: none; /* Removes outline */
  padding: .5em 5%; /* Padding inside the input */
  width: 55%; /* Width of the input */
}

/* Styling for form submit buttons */
form a {
  background: #BDB76B; /* Background color */
  border: 0; /* Removes border */
  border-radius: 1000px; /* Rounded border radius */
  color: #FFF; /* Text color */
  font-size: 1.25em; /* Font size */
  font-weight: 400; /* Font weight */
  padding: .75em 2em; /* Padding inside the button */
  text-decoration: none; /* Removes underline */
  text-transform: uppercase; /* Uppercase text */
  white-space: normal; /* Allows wrapping of text */
}

/* Styling for paragraphs */
p {
  font-size: 1.5em; /* Font size */
  line-height: 1.5; /* Line height */
}
