/* Global styles */
body, input {
  color: #123; /* Text color for body and input elements */
  font-family: "Gill Sans", sans-serif; /* Font family for body and input elements */
}

/* Styles for div elements */
div {
  overflow: hidden; /* Hide overflowing content */
  padding: 1em 0; /* Padding for top and bottom */
  position: relative; /* Relative positioning */
  text-align: center; /* Center align text */
}

/* Styles for headings, paragraphs, inputs, and links */
h1, h2, p, input, a {
  font-weight: 300; /* Normal font weight */
  margin: 0; /* Remove default margin */
}

/* Styles for h1 */
h1 {
  color: #18d; /* Text color for h1 */
  font-size: 3.5em; /* Font size for h1 */
}

/* Styles for h2 */
h2 {
  color: #999; /* Text color for h2 */
}

/* Styles for form */
form {
  margin: 0 auto; /* Center align form */
  max-width: 50em; /* Maximum width for form */
  text-align: center; /* Center align form content */
}

/* Styles for input */
input {
  border: 0; /* Remove border */
  border-radius: 1000px; /* Rounded border radius */
  box-shadow: inset 0 0 0 2px #18d; /* Box shadow for input */
  display: inline; /* Inline display */
  font-size: 1.5em; /* Font size for input */
  margin-bottom: 1em; /* Bottom margin */
  outline: none; /* Remove outline */
  padding: .5em 5%; /* Padding for input */
  width: 55%; /* Width of input */
}

/* Styles for links within form */
form a {
  background: #18d; /* Background color for links */
  border: 0; /* Remove border */
  border-radius: 1000px; /* Rounded border radius */
  color: #FFF; /* Text color for links */
  font-size: 1.25em; /* Font size for links */
  font-weight: 400; /* Normal font weight */
  padding: .75em 2em; /* Padding for links */
  text-decoration: none; /* Remove underline */
  text-transform: uppercase; /* Uppercase text */
  white-space: normal; /* Normal white space */
}

/* Styles for paragraphs */
p {
  font-size: 1.5em; /* Font size for paragraphs */
  line-height: 1.5; /* Line height for paragraphs */
}
